{% extends "base.html" %}
{% block content %}
<div class="img">
  <div class="center">
    <div class="title">Hick-Connect Siempre contigo</div>
    <div class="sub_title">Lo mejores en vigilacia</div>
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button" data-action="like" data-size="large" data-share="true"></div>
  </div>
</div>
<div class="container_index">
  <div class="container__info">
    <h1 class="info__title">Bienvenido a Hick-Connect</h1>
    <div class="info_main">
    <p class="info__content">
      No nos gusta decir nuestra edad, simplemente demostrar con las acciones de nuestro equipo, experiencia y enfoque 100% en el exito de nuestro cliente.
      <br>
      No solamente queremos formar parte de su equipo, tambien queremos ser parte de su exito.
      <br>
      Todo lo que hacemos es asegurar que nuestro cliente (y tambien a la vez a su cliente) realice su proyecto con exito, esto nunca va a cambiar.
      <br>
      Todos los productos estan respaldados por un enorme compromiso de nuestro equipo de ingenieria y un redoblado esfuerzo por siempre ofrecer la mejor calidad, desempeno y las ultimas tecnologias.
    </p>
    <img src="../static/img/mapa.jpg"/>
  </div>
  </div>
</div>
  <div class="razones">
    <img src="../static/img/publicidad.png" />
    <p>La completa satisfaccion de nuestros clientes es nuestra unica ambicion, cualquier cosa menor no es aceptable.
      Nuestro unico proposito es cuidar de su negocio, asegurarnos que todas las cosas salgan tan bien como sea posible.
    <br>
      Nuestra Web y App las hacemos aqui mismo en Mexico, con el mejor equipo de programadores del mundo.
      Esa es nuestra meta, siempre escuchando retroalimentacion y buscando como mejorar.</p>
    </div>


{% endblock %}